.selani{
    margin-left:35%;
    margin-top: 10%;
}
.head1{
    margin-left:35%;
    font-weight: 20%;
    font-size: 130%;
    color:green;
}
.head2{
    margin-left:42%;
    margin-top: 0.5%;
    font-size: 67%;
    font-weight: 50%;
    color:blue;
}
.green-button {
background-color: #4CAF50;
color: white;
padding: 20px 40px;
border: none;
border-radius: 8px;
font-size: 18px;
cursor: pointer;
;
}
.green{
margin-top: 1%;
margin-left: 43%;
}